.menu { list-style-type: none;
margin: 2;
padding: 2;
overflow: hidden;
background-color: rgb(90, 90, 90);
}
.menu li { float: left;
}
.menu li a { display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
.menu li a:hover { background-color: #111;
-moz-box-shadow: 1px 3px 10px 0 #ccc;
-webkit-box-shadow: 0 3px 10px 0 #ccc;
text-shadow: 0px 0px 5px #fff;
}
.menu li ul { position: relative;
top: 0;
left: 0;
background-color: #fff;
z-index: 10;
display: none;
}
.menu li:hover ul, .menu li.over ul { display: block;
}
.menu li ul li { border: 1px solid rgb(0, 0, 0);
display: block;
width: 100px; 
}
.menu li img { position: absolute;
width: 130px;
height: 130px;
left: 50%;
}

.active { background-color: rgb(18, 146, 250);
}

.center img { width: 250px;
height: 250px;
}

.banner img { position: relative;
top: 60px;
left: -313px;
width: 540px;
height: 139px;
}

nav { background-color: rgb(40, 158, 255);
border-radius: 7px;
width: 540px;
height: 250px;
opacity: 100%;
position: absolute;
z-index: -10;
left: 35%;
top: 40%
}







